@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "outfit", sans-serif;
}

body {
  position: relative;
}
:root {
  --maroon: #790926;
  --white: #fff;
  --redPink: #ff004f;
  --gray: #ababab;
  --black: #000;
  --faintGray: #999;
  --submitButtonColor: #2a209e;
  --colorGreen: #209e20;
  --mobileFont: 13px;
  --header3: #212ea0;
  --darkGray: #676767;
  --customBg: rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar {
  width: 3px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}
.hero-btn {
  background: var(--maroon);

  color: var(--white);

  display: inline-block;

  padding: 0.5rem 2rem;
  cursor: pointer;
}
.submit-btn {
  background: var(--maroon);

  color: var(--white);

  font-weight: 600px;
}

.auth-forms-title {
  font-size: 2.1rem;

  font-weight: 600;

  color: var(--maroon);
}

.medium-header {
  color: var(--redPink);
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.food-name {
  font-size: var(--mobileFont);
  font-weight: 600;
  color: var(--submitButtonColor);
}
.price {
  font-size: var(--mobileFont);
}
.card button {
  border: none;
  width: 100px;
  padding: 0.3rem;
  background: var(--maroon);
  color: var(--white);
  cursor: pointer;
  border: 2px solid var(--maroon);
  transition: all 0.5s;
}
.card button:hover {
  background: transparent;
  color: var(--maroon);
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

input,
select {
  width: 100%;
}

img {
  width: 100%;
}
.small-header {
  text-align: center;
  color: var(--header3);
  font-weight: 600;
  font-size: 1.3rem;
}

.arrow-icon {
  width: 50px;
  position: fixed;
  top: calc(100vh - 200px);
  right: 2rem;
  z-index: 99;
  cursor: pointer;
}

.modal {
  height: 100vh;
  width: 100%;

  position: fixed;

  top: 0;

  right: 0;

  left: 0;

  display: flex;
  justify-content: center;

  align-items: center;

  background: linear-gradient(var(--customBg), var(--customBg));

  z-index: 99;
}

.modal .modal-wrapper {
  background: var(--white);
  max-width: 1100px;
  width: 95%;
  position: relative;
}

.modal .modal-wrapper .modal-contents-container {
  width: 100%;

  padding: 1rem;

  max-height: calc(100vh - 50px);

  overflow-y: scroll;
}

@media (max-width: 716px) {
  .arrow-icon {
    width: 40px;
  }
}
