@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "outfit", sans-serif; */
  font-family:'Outfit',sans-serif;
}

body {
  position: relative;
}
:root {
  --maroon: #790926;
  --white: #fff;
  --redPink: #ff004f;
  --gray: #ababab;
  --black: #000;
  --faintGray: #999;
  --submitButtonColor: #2a209e;
  --colorGreen: #209e20;
  --mobileFont: 13px;
  --header3: #212ea0;
  --darkGray: #1d1b1b;
  --customBg: rgba(0, 0, 0, 0.75);
  --slate: #cbd5e1;
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

body {
  background:var(--slate);
  /* background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%); 
  filter: blur(100px) saturate(150%); */
}

::-webkit-scrollbar {
  width: 3px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}
.utility-btn{
  border:none;
  background:transparent;
  height:30px;
  width:30px;
  display:flex;
  align-items:center;
  justify-content:center;
  border:none;
}
.admin-dashboard .container{
  max-width:1500px;
}
.hero-btn {
  background: var(--maroon);

  color: var(--white);

  display: inline-block;

  padding: 0.5rem 2rem;
  cursor: pointer;
  border:none;
  border:2px solid var(--maroon);
  transition:all 0.5s;
}
.hero-btn:hover{
  color:var(--maroon);
  background:transparent;
}
.submit-btn {
  background: var(--maroon);

  color: var(--white);

  font-weight: 600px;
}

.auth-forms-title {
  font-size: 2.1rem;

  font-weight: 600;

  color: var(--maroon);
}

.medium-header {
  color: var(--redPink);
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.food-name {
  font-size: var(--mobileFont);
  font-weight: 600;
  color: var(--submitButtonColor);
}
.price {
  font-size: var(--mobileFont);
}
.subtitle{
  font-size:1.5rem;
  margin:0.7rem 0rem;
}
.card button {
  border: none;
  width: 100px;
  padding: 0.3rem;
  background: var(--maroon);
  color: var(--white);
  cursor: pointer;
  border: 2px solid var(--maroon);
  transition: all 0.5s;
}

.title{
  text-align:center;
  font-size:1.7rem;
  color:var(--colorGreen);
  font-weight:700;
}
.card button:hover {
  background: transparent;
  color: var(--maroon);
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  background: var(--white);
}

input,
select {
  width: 100%;
}

img {
  width: 100%;
}
.small-header {
  text-align: center;
  color: var(--header3);
  font-weight: 600;
  font-size: 1.3rem;
}

.arrow-icon {
  width: 50px;
  position: fixed;
  top: calc(100vh - 200px);
  right: 2rem;
  z-index: 99;
  cursor: pointer;
}

.modal {
  height: 100vh;
  width: 100%;

  position: fixed;

  top: 0;

  right: 0;

  left: 0;

  display: flex;
  justify-content: center;

  align-items: center;

  background: linear-gradient(var(--customBg), var(--customBg));

  z-index: 99;
}

.modal .modal-wrapper {
  background: var(--white);
  max-width: 1100px;
  width: 95%;
  position: relative;
}

.modal .modal-wrapper .modal-contents-container {
  width: 100%;

  padding: 1rem;

  max-height: calc(100vh - 50px);

  overflow-y: scroll;
}

.modal .hero-btn-cart {
  background: var(--redPink);
  border: none;
  color: var(--white);
  padding: 0.5rem 2rem;
  border: 2px solid var(--redPink);
}
.modal .hero-btn-cart:hover {
  cursor: pointer;
  background: transparent;
  color: var(--redPink);
  transition: all 0.5s;
}
@media (max-width: 716px) {
  .arrow-icon {
    width: 40px;
  }
}
.close-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;

  width: 30px;

  border: none;

  background: var(--redPink);

  color: var(--white);

  font-size: 1.5rem;
}
.close-button:hover {
  cursor: pointer;
}
.main-button{
  border:none;
}
.main-button a{
  display:block;
  border: none;
  background: var(--maroon);
  color: var(--white);
  padding: 0.5rem 1rem;
}

/* Container for the table to allow scrolling */
.table-wrapper {
  max-width: 100%;
  overflow-x: auto; /* Enables horizontal scrolling if content overflows */
}
.admin-dashboard {
  /* background: #f2f2f2; */
  width:100%;
}
.custom-row{
  display: flex;
  align-items:center;
  justify-content:space-between;
}

/* Existing table styles */
table {
  border-collapse: collapse;
  min-width: 408px;
  width: 100%; /* Keep this so that the table stretches to fit the container */
}
table thead {
  border-bottom: 1px solid var(--darkGray);
}
table tbody tr td img {
  max-height: 60px;
  max-width: 60px;
}
table p {
  color: var(--darkGray);
  line-height: 2rem;
}
table td {
  padding: 0.7rem 0.4rem;
}

@media (max-width: 424px) {
  table p {
    font-size: 12px;
    font-weight: 600;
  }
}


@media(max-width:674px){
  .subtitle{
    font-size:1.5rem;
  }
}