.authentication-container.login {
  height: 100vh;

  width: 100%;

  display: flex;

  justify-content: center;

  align-items: center;
}

.authentication-container {
  position: relative;
}

.authentication-container.login form {
  max-width: 650px;

  width: 100%;

  padding: 2rem 1rem 2rem 1rem;
}

.authentication-container.login .container {
  width: 100%;

  display: flex;

  justify-content: center;

  align-items: center;

  flex-direction: column;
}

.authentication-container form input {
  width: 100%;

  height: 40px;

  border: none;

  padding: 10px;

  outline: none;

  cursor: pointer;
}
.authentication-container.login .input-group {
  width: 100%;

  display: flex;

  align-items: center;
  justify-content: center;

  text-align: center;

  border-bottom: 1px solid var(--faintGray);

  margin-bottom: 1.5rem;
  position: relative;
}
.authentication-container .input-group.password{
  display:flex;
  flex-direction:row;
}

.authentication-container.login .input-group p {
  font-size: 1.4rem;
}

.authentication-container .input_group {
  width: 100%;
}
.authentication-container .input-group p {
  color: var(--maroon);
}

.authentication-container .formFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.authentication-container .password-controls{
  font-size:1.5rem;
}

.home-navigator {
  position: absolute;
  top: 3rem;
  left: 2rem;
}
.home-navigator a {
  font-size: 1.5rem;
  height: 40px;
  width: 40px;
  display: flex;
  border: 2px solid var(--maroon);
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  background: var(--maroon);
  color: var(--white);
}
