.nav {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  z-index: 9;
  background: var(--white);
  top:0;
}
.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav .container .navigation_menu .nav_ul {
  display: flex;
}
.nav .container .profile-icon img {
  height: 30px;
  width: 30px;
}

.nav .container .navigation_menu .nav_ul p a {
  padding: 0.7rem 1rem;
  cursor: pointer;
  position: relative;
  display: block;
  transition: all 0.5s;
}
.nav .container .navigation_menu .nav_ul p a:hover {
  transform: scale(1.1);
}
.nav .logo-div .logo {
  color: var(--redPink);
  font-size: 1.5rem;
  font-weight: 600;
}
.nav .logo-div .logo span {
  color: var(--maroon);
  position: relative;
  margin-left: 5px;
}
.nav .container .navigation_menu .nav_ul .nav_li {
  position: relative;
}
.nav .container .navigation_menu .cart-items {
  position: absolute;
  right: 0;
  font-weight: 600;
  color: var(--redPink);
}
.nav .container .navigation_menu .nav_ul .nav_li a {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: start;
  color: var(--header3);
}
.nav .container .navigation_menu .nav_ul .nav_li a .icon-name {
  margin-left: 5px;
}
.nav .container .navigation_menu .nav_ul .nav_li a .icon {
  font-size: 8px;
}
.nav .logo-div .logo span::before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 3px;
  background: var(--redPink);
}
.nav .credential-btn {
  border: none;
  width: 100px;
  padding: 0.4rem;
  background: var(--maroon);
  color: var(--white);
  cursor: pointer;
  margin-left: 10px;
}
.nav .credential-btn:hover {
}
.nav .credential-btn a {
}
.nav .credential-btn:hover a {
  color: var(--maroon);
}

.nav .container .navigation_menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav .container .profile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.nav .container .profile-icon .credential-buttons.mobile {
  margin-right: 1rem;
}
.nav .container .profile-icon .credential-buttons.mobile a {
  display: block;
}

.nav .container .menu-icon button {
  font-size: 2.3rem;
  background: transparent;
  border: none;
  color: var(--redPink);
}
.nav .container .menu-icon {
  margin-left: 1rem;
  color: var(--redPink);
  transition: all 0.5s;
  display: none;
}
.nav .container .menu-icon:hover {
  transform: scale(1.1);
}
.nav .container .credential-buttons.mobile {
  display: none;
}
.nav .container .nav_li.mobile {
  display: none;
}

@media (min-width: 850px) {
  .nav .container .profile-icon .credential-buttons.mobile {
    display: none;
  }
  .nav .container .navigation_menu .nav_ul .nav_li {
    position: relative;
  }
  .nav .container .navigation_menu .nav_ul .nav_li::after {
    position: absolute;
    content: "";
    background: var(--header3);
    width: 0%;
    left: 0;
    height: 3px;
    bottom: 0;
    transition: all 0.5s;
  }
  .nav .container .navigation_menu .nav_ul .nav_li:hover::after {
    width: 100%;
  }
  .nav .container .nav_ul .nav_li .drop_down {
    position: absolute;
    background: var(--white);
    width: 250px;
    border: 2px solid var(--maroon);
    border-top: none;
  }

  .nav .container .nav_ul .nav_li .drop_down {
    display: none;
  }
  .nav .container .nav_ul .nav_li:nth-child(2):hover .drop_down {
    display: block;
  }
  .nav .container .nav_ul .nav_li .drop_down ul li {
    border-bottom: 1px solid var(--maroon);
  }
  .nav .container .nav_ul .nav_li .drop_down ul li:hover {
    background: var(--maroon);
  }
  .nav .container .nav_ul .nav_li .drop_down ul li:hover a {
    color: var(--white);
  }
  .nav .container .nav_ul .nav_li .drop_down ul li a:hover {
    transform: scale(1);
  }
}

@media (max-width: 850px) {
  .nav .container .navigation_menu {
    position: absolute;
    background: var(--white);
    top: 100%;
    left: -100%;
    z-index: 9;
    width: 250px;
    height: calc(100vh - 50px);
    transition: all 0.5s;
    z-index: 99;
    border-top: 3px solid var(--maroon);
    border-right: 3px solid var(--maroon);
  }
  .nav .container .navigation_menu.active {
    left: 0;
  }
  .nav .container .menu-icon {
    display: initial;
  }
  .nav .container .navigation_menu .nav_ul {
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .nav .container .navigation_menu .nav_ul .nav_li {
    border-bottom: 1px solid var(--maroon);
  }
  .nav .container .navigation_menu .nav_ul p {
    cursor: pointer;
    text-align: center;
  }
  /* .nav .container .navigation_menu .nav_ul p a {
    color: var(--black);
  } */
  .nav .container .credential-buttons.desktop {
    display: none;
  }
  .nav .container .navigation_menu .nav_ul p:hover {
    background:var(--maroon);
    width: 100%;
  }
  
  .nav .container .profile-icon .credential-buttons.mobile {
    position: absolute;
    display: flex;
    right: 0;
    top: 100%;
  }

  .nav .container .credential-buttons.mobile {
    display: block;
    position: absolute;
    right: 1rem;
    top: 100%;
    z-index: 9;
  }
  .nav .container .credential-buttons.mobile .credential-btn {
    height: 40px;
    border: 2px solid var(--maroon);
    transition: all 0.5s;
  }
  .nav .container .credential-buttons.mobile .credential-btn:hover {
    background: transparent;
    color: var(--maroon);
  }
  .nav .container .navigation_menu .cart-items {
    right: 10px;
  }
  .nav .container .nav_ul .nav_li .drop_down ul li a:hover {
    transform: scale(1);
  }
  .nav .container .nav_ul .nav_li .drop_down {
    background: var(--white);
    display: none;
    transition:all 0.5s;
  }
  .nav .container .nav_ul .nav_li .drop_down ul li {
    padding-left: 1.5rem;
  }
  .nav .container .nav_ul .nav_li:nth-child(2):hover .drop_down {
    display: block;
  }
}

@media (max-width: 716px) {
  .nav .container .nav_li.mobile {
    display: initial;
  }
}
