.cart .container .row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}
.cart .container .row .summary {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  background: var(--white);
}
.cart .container .row .items {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  background: var(--white);
}

@media (max-width: 816px) {
  .cart .container .row {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  .cart .container table td .row {
    flex-direction: row;
  }
}
