.items .table-wrapper .row {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 140px;
}

.items .table-wrapper .row button {
  border: none;
  height: 30px;
  width: 30px;
  color: var(--white);
  background: var(--redPink);
}
.items .table-wrapper .row input {
  width: 40px;
  height: 40px;
  display: flex;
  outline:none;
  text-align:center;
  border:2px solid var(--darkGray);
}
.items .table-wrapper .delete-btn {
  background: transparent;
  border: none;
  font-size: 16px;
  color:var(--redPink);
}

.items .table-wrapper table p {
  color: var(--darkGray);
}

