.container.checkout{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    grid-gap:1rem;

}

@media(max-width:692px){
    .container.checkout{

        display:grid;
    
        grid-template-columns:repeat(1,1fr);
    
    }

}