.main-container .row .col {
  display: flex;
  align-items: center;
  justify-content:space-between;
  text-align: center;
}
.main-container .row {
  padding: 1rem 10px;
  border-bottom: 1px solid var(--darkGray);
}
.main-container .row p {
  margin-left: 1rem;
}

@media (max-width: 830px) {
  .main-container .row p {
    margin-left: 0.5rem;
    font-size: 12px;
  }
}
