.admin-dashboard .admin-dashboard-inner-container{

    display:grid;

    grid-template-columns:2fr 1fr;

    gap:20px;

    margin-top:1rem;
}

.admin-dashboard .admin-dashboard-inner-container .canvas{
    width:100%;
}

.admin-dashboard .admin-dashboard-inner-container .left-side{

    box-shadow:0 0 5px rgba(0,0,0,0.25);

    padding:10px;

}
.admin-dashboard .admin-dashboard-inner-container .right-side{

    box-shadow:0 0 5px rgba(0,0,0,0.25);

    padding:10px;

}

@media(max-width:1140px){
    .admin-dashboard .admin-dashboard-inner-container{
        grid-template-columns:repeat(1,1fr);
    }
}