.products .products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.products .related-products{
  margin-top:4rem;
}

.products .related-products .products-grid{
  margin-top:2rem;
}

@media(max-width:484px){
    .products .products-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
      }
}
@media(max-width:382px){
    .products .products-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
      }
}