.featured_products .small-header{
  margin-top:2rem;
}
.featured_products .medium-header {
  color: var(--redPink);
  margin-bottom:3rem;
}
.featured_products .products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}


@media (max-width: 650px) {
  .featured_products .products-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
}
@media (max-width: 460px) {
  .featured_products .products-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}
