.hero {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("../../../assets/images/assets/header_img.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.hero .container {
  height: 100%;
  position: relative;
}
.hero .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  /* display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center; */
  text-align: center;
}
.hero .content p {
  line-height: 1.7rem;
  color: var(--gray);
  font-size: 1.3rem;
}
.hero .content .hero-btn {
  margin-right: 1rem;
  border: none;
  transition: all 0.5s;
  border: 2px solid var(--maroon);
  width: 120px;
  font-size: 12px;
  padding: 0.5rem 0rem;
}
.hero .content .hero-btn:hover {
  cursor: pointer;
  background: transparent;
  border: 2px solid var(--maroon);
}
.hero .content .hero-buttons {
  margin-top: 0.5rem;
}
.hero .container .large-header {
  color: var(--white);
  font-size: 3rem;
}

.hero .featured-animations {
  padding: 1rem;
  margin: 2rem 0rem;
}

.hero .featured-animations .animated-card {
  position: relative;
}

.hero .featured-animations .animated-card .details {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}
.hero .featured-animations .animated-card .details button{
  border:none;
  background:transparent;
  color:var(--white);
  font-size:2rem;
  margin:0.5rem;
}
.hero .featured-animations .animated-card .details p {
  font-size: 1rem;
  color: var(--white);
}

.hero .featured-animations .animated-card .details p:nth-child(2){
  font-size:0.6rem;
  letter-spacing:2px;
}

.hero .featured-animations .animated-card img {
  border-radius: 10px;
}

.hero .featured-animations .animated-card p {
  font-size: 12px;
}



@media (max-width: 618px) {
  .hero .content .mobile {
    display: none;
  }
}

@media (max-width: 484px) {
  .hero {
    height: 100vh;
  }
}

@media (max-width: 420px) {
  .hero .container .large-header {
    margin-top: 5rem;
  }
}

@media (max-width: 372px) {
  .hero .content p {
    font-size: 1.2rem;
  }
  .hero .container .large-header {
    font-size: 2.5rem;
  }
}
